<span class="back"><%= link "< Back", to: logger_path(@conn, :index) %></span>

<h2 class="form">Edit Logger</h2>

<%= render "form.html", Map.put(assigns, :action, logger_path(@conn, :update, @logger)) %>
