<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello App1!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ol class="breadcrumb text-right">
            <span class="logo"><%= link "", to: page_path(@conn, :index) %></span>
            <div class="hamburger" onclick="mobileNav(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
            <div class="navigation-links">
            <%= if @current_user do %>
              <p><%= @current_user.username %></p>
              <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %>
              <%= link "Home", to: page_path(@conn, :index) %>
            <% else %>
              <%= link "Log in", to: session_path(@conn, :new) %>
            <% end %>
          </div>
          </ol>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <div class="menu">
      <div class="col-xs-12 mobileNav">
        <%= if @current_user do %>
          <p><%= @current_user.username %></p>
          <span id="logOut"><%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %></span>
          <%= link "Home", to: page_path(@conn, :index) %>
        <% else %>
          <%= link "Log in", to: session_path(@conn, :new) %>
        <% end %>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <script type="text/javascript">
    $(document).ready(function(){
      $('.hamburger').click(function(){
        $('.menu').toggleClass('is-open');
      });
    });
    </script>

    <script type="text/javascript">
    function mobileNav(x) {
      x.classList.toggle("change");
    }
    </script>

  </body>
</html>
