<span class="back"><%= link "< Back", to: client_path(@conn, :index) %></span>

<h2 class="form">Edit Client</h2>

<%= render "form.html", Map.put(assigns, :action, client_path(@conn, :update, @client)) %>
